#NewCouponFormButton {
  visibility: hidden;
}
#NewGiftCardFormButton {
  visibility: hidden;
}
#NewLoyaltyRewardFormButton {
  visibility: hidden;
}
#CouponButton {
  visibility: hidden;
}
#GiftCardButton {
  visibility: hidden;
}
#LoyaltyRewardButton {
  visibility: hidden;
}
