#home_background {
  background-image: url("../Images/HomePage1.png");
  flex: auto;
  width: 376.91px;
  height: 1845.38px;
  left: 0px;
  top: -589px;
}
.emptySpace {
  color: white;
}
.userGreating {
  margin-top: 8em;
  padding: 5px;
  display: flex;
  justify-content: center;
  /* border: solid black 5px; */
}
.cardLibrary {
  margin: 5px 10px;
  padding: 5px;
  display: flex;
  justify-content: start;
  white-space: nowrap;
  text-align: center;
}
.searchCard {
  margin: 5px 10px;
  padding: 5px;
  height: 326.91px;
}
.GiftCardTop {
  margin-top: 3em;
}
.colorLetters {
  color: rgb(30, 57, 44);
}
