#NewCouponFormButton {
  visibility: visible;
}
#NewGiftCardFormButton {
  visibility: visible;
}
#NewLoyaltyRewardFormButton {
  visibility: visible;
}
#CouponButton {
  visibility: visible;
}
#GiftCardButton {
  visibility: visible;
}
#LoyaltyRewardButton {
  visibility: visible;
}
